:host {
  display: block;
}

/* Máscara para que la imagen se fusione con el fondo negro abajo */
.image-mask {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

/* Asegurar que la imagen no sobrepase en pantallas grandes */
img {
  max-height: 70vh; // Nunca más alta que el 70% de la pantalla
  user-select: none;
  pointer-events: none; // El mouse interactúa con el contenedor, no la imagen
}

@media (max-width: 1024px) {
  section {
    padding-top: 120px;
    text-align: center;
  }
}