<section class="relative min-h-screen bg-[#000000] overflow-hidden flex flex-col justify-center pt-20">
  
  <div class="absolute top-0 right-0 w-[600px] h-[600px] bg-blue-600/10 blur-[150px] rounded-full"></div>
  <div class="absolute bottom-0 left-0 w-[500px] h-[500px] bg-fuchsia-600/10 blur-[130px] rounded-full"></div>
  <div class="absolute inset-0 z-0 opacity-[0.15] pointer-events-none" 
       style="background-image: url('data:image/svg+xml,%3Csvg width=\'100%25\' height=\'100%25\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M0 100 Q 250 50 500 100 T 1000 100\' stroke=\'%234f46e5\' fill=\'transparent\' stroke-width=\'0.5\'/%3E%3C/svg%3E');">
  </div>

  <div class="container mx-auto px-6 grid grid-cols-1 lg:grid-cols-2 gap-12 items-center relative z-10">
    
    <div class="space-y-8 animate-reveal">
      <div class="inline-flex items-center gap-2 px-3 py-1 rounded-full border border-fuchsia-500/30 bg-fuchsia-500/5 text-fuchsia-400 text-xs font-mono">
        <span class="w-2 h-2 rounded-full bg-fuchsia-500 animate-pulse"></span>
        OPEN TO WORK
      </div>

      <h1 class="text-6xl lg:text-8xl font-black leading-[0.9] tracking-tighter text-white">
        CREANDO EL <br>
        <span class="bg-gradient-to-r from-[#A78BFA] via-[#F472B6] to-[#E879F9] bg-clip-text text-transparent">
          FUTURO.
        </span>
      </h1>

      <p class="text-gray-400 text-xl max-w-md font-light">
        Ingeniero Full Stack creando soluciones con <span class="text-white">Clean Architecture</span>.
      </p>

      <div class="flex flex-wrap gap-4">
        <div>
          <a href="docs/CV.pdf" target="_blank" class="px-10 py-4 bg-white text-black rounded-2xl font-black hover:scale-105 transition-all inline-block">
            VER MI CV
          </a>
        </div>
        <button class="px-10 py-4 bg-white text-black rounded-2xl font-black hover:scale-105 transition-all">
          PROYECTOS
        </button>
        <button class="px-10 py-4 border border-white/10 backdrop-blur-xl rounded-2xl font-bold text-white hover:bg-white/5">
          CONTACTO
        </button>
      </div>
    </div>

    <div class="relative group flex justify-center lg:justify-end">
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[80%] h-[80%] bg-[#A78BFA]/20 blur-[100px] rounded-full group-hover:scale-125 transition-all duration-1000"></div>
      <img src="images/foto.png" 
           alt="Muhammad" 
           class="relative z-10 w-full max-w-lg grayscale hover:grayscale-0 transition-all duration-700 drop-shadow-[0_0_30px_rgba(167,139,250,0.3)]">
    </div>
  </div>

  
</section>