:host {
  display: block;
}

@media (min-width: 1280px) {
  .grid {
    auto-rows: 200px; 
    max-width: 1100px;
    margin: 0 auto;
  }
}

section {
  scroll-margin-top: 100px; 
}

.clickable {
  @media (min-width: 1024px) {
    cursor: none; 
  }
}
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}