<app-loading-screen 
  *ngIf="isLoading()" 
  (loadingFinished)="finishLoading()">
</app-loading-screen>

<main [class.opacity-0]="isLoading()" class="transition-opacity duration-700">
  <app-navbar></app-navbar>
  
  <router-outlet></router-outlet>
  
  <app-footer></app-footer>
</main>

<div class="cursor-dot"
     [style.left.px]="dotPos().x"
     [style.top.px]="dotPos().y">
</div>

<div class="cursor-outline"
     [class.is-hovering]="isHovering()"
     [style.left.px]="outlinePos().x"
     [style.top.px]="outlinePos().y">
  <div class="scan-line"></div>
</div>