:host {
  display: block;
}

::ng-deep body {
  cursor: none; 
  
  &:has(app-loading-screen) {
    .cursor-dot, .cursor-outline, .particle-bit {
      display: none !important;
    }
    overflow: hidden; 
  }
}

.animate-gradient-x {
  background-size: 200% 100%;
}