:host {
  display: block;
}

h2 span {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clickable {
  cursor: none; 
}

.blur-\[120px\] {
  filter: blur(120px);
  will-change: transform, opacity;
}