<nav class="fixed top-0 w-full z-[60] transition-all duration-500 bg-black/20 backdrop-blur-xl border-b border-white/5">
  <div class="max-w-7xl mx-auto px-6 h-20 flex items-center justify-between">
    
    <div routerLink="/" class="text-2xl font-black tracking-tighter bg-gradient-to-r from-[#A78BFA] via-[#F472B6] to-[#E879F9] bg-clip-text text-transparent italic cursor-pointer">
      &lt; Elia Chacmi /&gt; 
    </div>

    <div class="hidden md:flex gap-10 text-gray-400 font-mono text-xs tracking-widest">
      <a href="/" >Home</a>
      <a routerLink="/sobre-mi" routerLinkActive="text-white" class="hover:text-white transition-colors cursor-pointer">SOBRE MÍ</a>
      <a routerLink="/" class="hover:text-white transition-colors cursor-pointer">PROYECTOS</a>
      <a href="mailto:elia.chacmi@uab.edu.bo" class="hover:text-white transition-colors cursor-pointer">CONTACTO</a> 
    </div>

    <button (click)="toggleTheme()" class="group relative p-3 rounded-2xl bg-white/5 border border-white/10 transition-all hover:border-[#A78BFA]/50 overflow-hidden">
      <div class="absolute inset-0 bg-[#A78BFA]/10 opacity-0 group-hover:opacity-100 transition-opacity"></div>
      <div class="relative z-10 flex items-center justify-center">
        @if (themeService.darkMode()) { <span class="text-lg">🌙</span> } 
        @else { <span class="text-lg">☀️</span> }
      </div>
    </button>
  </div>
</nav>